apiVersion: v1
kind: Namespace
metadata:
  name: iso8583-demo
---
# This deployment will be REJECTED by Gatekeeper (missing labels)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bad-deployment
  namespace: iso8583-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test
  template:
    metadata:
      labels:
        app: test
    spec:
      containers:
      - name: test
        image: nginx
---
# This deployment will be ACCEPTED by Gatekeeper
apiVersion: apps/v1
kind: Deployment
metadata:
  name: good-deployment
  namespace: iso8583-demo
  labels:
    app: iso8583-client
    version: v1.0.0
    component: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iso8583-client
  template:
    metadata:
      labels:
        app: iso8583-client
    spec:
      containers:
      - name: client
        image: iso8583-client:latest
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000